.btn {
    border-radius: 20px;
    border-width: 2px;
    &-primary {
        background: $c-white;
        color: $c-primary;
        border-color: $c-primary;
        &:hover {
            background: $c-primary;
            color: $c-white;
        }
    }
}