@import 'mixins';

.home {
    &__btn-container {
        &+& {
            margin-top: 1rem;
            @include respond-to('small') {
                margin-top: 0rem;
            }
        }
    }
}