.navbar {
    border-bottom: solid 2px $c-secondary;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.chuck-norris-icon {
    height: 30px;
    position: relative;
    top: -4px;
    margin-right: 4px;
}